<div id="footer">
<ul class="footer_list">
<li><h3 id="copyright">Copyright © </h3></li>

<li class="follow">Follow Us</li>
<div class="horizontal">
<li><i class="fab fa-facebook-square"></i></li>
<li><i class="fab fa-instagram"></i></li>
<li><i class="fab fa-twitter-square"></i></li>
</div>
</ul>
</div>