<header> 

<div id="nav">
<i class="fas fa-birthday-cake"></i>
 The bakery made with love 
</div>
<div>
<h1 id="title">The Friendly Bakery</h1>
<ul class="main_nav">
<li><span class="space_nav"></span><a href="/">Home</a></li>
<li><span class="space_nav"> /</span><a href="/products">Products</a></li>
<li><span class="space_nav">/</span><a href="/cookies">Cookies</a></li>
<li><span class="space_nav">/</span><a href="/muffins">Muffins</a></li>
<li><span class="space_nav">/</span><a href="/cakes">Cakes</a></li>
</div>
</header>