<!DOCTYPE html>
<html>
<head>
<title>Friendly Bakery</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>




<div id="logo">
<img id="cake_logo" src="/Pictures/CakeLogo.jpg">
<div class="cake_border">
<h1>
<ul class="cake_title">
<li>The</li>
<li>Best</li>
<li>Pastry</li>
<li>Shop</li>
<button><a href="/products">Browse</a></button>
</ul>
</h1>

</div>
</div>

