:root{
    --main-color: #844dff;
    --secondary-color: #D9F0FF;
}
body{
    padding: 0;
    margin: 0;
    font-family: Lora;
}

#products{
    width: 60%;
}
#nav{
    color: var(--secondary-color);
    background: var(--main-color);
    display: flex;
    flex-flow: flex nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding: .5%;
    font-family: Lobster;
    
}
#title{
    text-align: center;
    padding-bottom: 2%;
    font-family: Lora;
    padding-top: 2%;
    font-size: 3em;
}
.main_nav{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
    font-size: 1.2em;


}
.main_nav li {
    padding-right: 7%;
}
.main_nav li a:hover{
    background-color: var(--main-color);
    color: var(--secondary-color);
    border-radius: 20%;
}
.space_nav{
    padding-right: 80%;
}
.fa-birthday-cake{
    padding-right: 2%;
}
#cake_logo{
    display: inline-block;
    width: 100%;
    height: 70vh;
    -webkit-clip-path: polygon(0 0, 93% 0, 69% 100%, 0% 100%);
    clip-path: polygon(0 0, 93% 0, 69% 100%, 0% 100%);
}
#logo{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cake_title{
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    
   
}
.cake_title li{
    padding-bottom: 25%;
    
}
.shape_products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
   
}
#footer{
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin-top: 15%;
    padding-bottom: 5%;
    text-align: center;
    
}
.footer_list{
    list-style-type: none;
    font-size: 1.4em;
}
.footer_list li{
    padding: 1%;
}
#copyright{
    display: inline;
    padding: 0%;
}
.horizontal{
    display: flex;
    justify-content: center;
}
.horizontal li{
    padding-right: 1%;
    
}
.follow{
    font-size: 1.2em;
}